*{
    margin:0px;
    padding:0px;
    
}
.row{
    font-size: 20px;
    border-radius: 15px;
    background:hsl(0, 0%, 100%);
    color:rgb(0, 0, 0);
}
.carousel-inner{
    display:block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
    width: 500px;
}
.cards{
    padding: 5px;
    margin: 0;
}
.welcome{
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top:350px;
    left: 0;
    right: 0;
    text-align: center;
    font-size:25px;
    transform: translate(-50% -50%);
    color:rgb(255, 255, 255);
    z-index:1;
}
.container{
    align-items: center;
    align-self: center;
}
.star {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.star  {
   
    margin: 0 10px;
}
.star .fa{
    color: #000000;
    font-size: 1px;
    line-height: 5px;
    transition: .5s;
}

.fas fa-star{
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    text-align: center;
    transition: 0.5s;
    background-color: rgb(0, 235, 145);
    transform: translate(0,0px);
}